*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.card {
    width: 90%;
    max-width: 500px;
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20%;
    padding: 40px 35px;
    text-align: center;
    margin-top: 0;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color :#555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;

}
.city::first-letter {
    text-transform:capitalize;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ebfffc;
    border: none;
    border-radius: 15px;
  }
  
  .button:hover {background-image: linear-gradient(300deg, #00bfff, #ef8172);}
  
  .button:active {
    background-color: #ebfffc;
    transform: translateY(4px);
  }
.weather h1{
    font-size: 80px;
    font-weight: 500;
    
}
.weather h2{
    font-size: 45px;
    margin-top: -10px;
}
.text{
    font-weight: 800;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col1 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 100px;
    
    font-size: 30px;
}
.col2 {
    display: flex;
    font-size: 30px;
    align-items: center;
    text-align: left;
    margin-right: 100px;
}
.container{
    height: 100vh;
    color: white;
    text-align: center;
}
.time{
    font-size: 30px;
    margin-top: 30px;
    font-weight: 800;
}
body {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}